body
	background-color: #333
	color: #ddd


.gallery-wrapper
	position: relative
	overflow: hidden
	width: 100%
	max-width: 600px
	min-height: 700px
	margin: 25px auto
	background-color: #fff
.gallery
	position: relative

	&__list
		position: relative
	&__item

		position: absolute
		left: 0px
		top: 0px
		width: 100%
		height: 100%
		opacity: 0
		z-index: 1

		-webkit-transition: opacity 0.5s
		-moz-transition: opacity 0.5s
		-o-transition: opacity 0.5s
		transition: opacity 0.5s

		&.is-visible
			opacity: 1
			z-index: 2
	&__img
		width: 100%	

.control-btn	
	position: absolute
	background-color: transparent
	+center(vertical)
	z-index: 100
	&__left
		left: 10px
	&__right
		right: 10px
	.icon	
		width: 35px
		height: 35px
		fill: #333
		// color: #fff



.g-thumbnails
	position: relative		
	&__list
		position: absolute	
		top: 5px	
		overflow: hidden
	&__item
		position: relative
		display: inline-block
		&:not(:last-of-type)
			margin-right: 5px
	&__item-wrap
		width: 100%
		height: 100%
		position: absolute
		+tr(all 0.3s ease-in-out)
		&.is-active
			box-shadow: 0px 0px 2px 2px blue;
			


	&__img
		width: 100%	
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		z-index: 1