


<main class="main">
	
<h1>wazup</h1>	


<!-- begin gallery js-gallery-wrap -->

<div class="gallery-wrapper js-gallery-wrap ">

<!-- begin loader-wrapper -->
<div class='loader-wrapper js-loader-wrapper'>
<!-- begin loader loader-default -->
<div class='loader loader-double js-loader'>

</div>
<!-- end loader loader-default -->
</div>
<!-- end loader-wrapper -->



<div class="control-btn control-btn__left js-gallery-prev1">

	<button class="icon-btn">{{mixins.icon('prev')}}</button>

</div>

	<div class="control-btn control-btn__right js-gallery-next1">

	<button class="icon-btn">{{mixins.icon('next')}}</button>

</div>



</div>
<!-- end  gallery js-gallery-wrap -->


<!-- begin gallery js-gallery-wrap -->

<div class="gallery-wrapper js-gallery-wrap2">
<!-- begin loader-wrapper -->
<div class='loader-wrapper js-loader-wrapper'>
<!-- begin loader loader-default -->
<div class='loader loader-double js-loader'>

</div>
<!-- end loader loader-default -->
</div>
<!-- end loader-wrapper -->


	<div class="control-btn control-btn__left js-gallery-prev2">

	<button class="icon-btn">{{mixins.icon('prev')}}</button>

</div>

	<div class="control-btn control-btn__right js-gallery-next2">

	<button class="icon-btn">{{mixins.icon('next')}}</button>

</div>



</div>
<!-- end  gallery js-gallery-wrap -->




</main>
